.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  /* margin-left: 25px;도 가능하지만 gap을 사용하는 것이 더 나은 방법임, gap 사용시 span을 지우고 display:flex;를 해야함.*/
}

@keyframes rotateCog {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 2s linear infinite;
}
